/* ************************************************************************************************************************ */
/* **************************************************** MOBILE VERSION **************************************************** */
/* ************************************************************************************************************************ */
.container {
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Makes images responsive and maintain their aspect ratio */
img, object {
	max-width: 100%;
  	height: auto;
  	object-fit: cover;
}

/* Adds background image to website */
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

h1, h2, .card-title {
    font-family: termina, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 2rem;
}

/* Changes first letter of each heading */
.font-change {
    font-family: schwarzkopf-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    color: white;
}

p, .btn, a {
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.25rem;
    line-height: 2rem;
}

/* Changes link color upon hover */
a {
    transition: all .2s ease-in-out; 
}

a:hover {
    color: #DA1A5C;
}

/* Formats translucent gradient behind content */
.bg-cover {
    background: rgb(7,4,23);
    background: linear-gradient(to top, rgba(7,4,23,0.75) 0%, rgba(7,4,23,0.75) 82%, rgba(7,4,23,0) 100%);
}


/* ************************************************************************************** */
/* ************************************* HOME PAGE ************************************* */
/* ************************************************************************************** */

/* ************************************* NAVIGATION SECTION ************************************* */
/* Adds decorative line to navigation */
nav {
    border-bottom: white solid 1.25px;
}

/* Removes border on Bootstrap menu toggler */
.navbar-toggler {
    border: none;
}

/* Changes color of navigation items */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/* Adds spacing between border and last nav item */
.navbar-nav {
    padding-bottom: 1rem;
}

/* ************************************* BANNER SECTION ************************************* */
.banner h1, .featured-works h1, .cta h1 {
    line-height: 3.5rem;
}

.banner {
    padding: 25rem 0 25rem 0;
}

.display-1 {
    font-size: 4rem;
}

.display-1 span {
    font-size: 4.5rem;
}

.banner-line-one span {
    font-size: 6.5rem;
}

.banner-line-one h1 {
    font-size: 5.5rem;
}

/* ************************************* SERVICES SECTION ************************************* */
.services {
    background-image: url("../images/gradient.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Fixes alignment issues with Bootstrap row class */
.row {
    --bs-gutter-x: none;
}

.card, .card-img {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
    border: none;
}

.services .card {
    padding-bottom: 1rem;
}

.card-img-top {
    padding: 3rem 3rem 1rem 3rem;
}

/* ************************************* FEATURED WORKS SECTION ************************************* */
.featured-works {
    padding-top: 10rem;
}

.featured-works .card {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* ALigns image overlays to bottom of image */
.card-img-overlay {
    top: auto;
}

.card-img-overlay a {
    font-family: termina, sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: rgba(203, 203, 203, 0.6);
    color: rgba(7,4,23,0.75);
    border-radius: 2.5rem;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
}

.btn {
    border-radius: 2rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.btn:hover {
    background-color: #DA1A5C;;
    color: white;
}

/* ************************************* CALL TO ACTION SECTION ************************************* */
/* Positions phone graphic behind CTA text */
.cta {
    height: 35rem;
    background-image: url('../images/phone.png');
    background-repeat: no-repeat;
    background-position: 90% 90%;
    background-size: 50%;
}

/* Positions gradient image behind CTA text */
.gradient {
    padding: 10rem 0 10rem 0;
    background-image: url('../images/gradient.png');
    background-repeat: no-repeat;
    background-position: -40% 15%;
    background-size: 70%;
}

.cta p {
    margin: 1.5rem;
}

/* ************************************* FOOTER SECTION ************************************* */
.footer {
    max-width: 95%;
    border-top: white solid 1.25px;
    padding: 1rem 0 1rem 0;
}

footer p, footer a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    margin-bottom: 0;
    padding: 0 0.5rem 0 .5rem;
}

.footer-links {
    padding: 0.5rem;
}

/* ************************************************************************************** */
/* ************************************* ABOUT PAGE ************************************* */
/* ************************************************************************************** */
.img-fluid {
    width: 100%;
}

.about-img {
    padding: 1rem 1rem 0 1rem;
}

.about-text {
    margin-top: -2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.about a {
    margin: 1rem 0 3rem 0;
}

/* ************************************************************************************** */
/* ************************************* CONTACT PAGE ************************************* */
/* ************************************************************************************** */
.contact-heading {
    padding-top: 15%;
    padding-bottom: 25%;
    background-image: url('../images/bubble-760.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 95%;
}

.contact {
    background-image: url('../images/phone.png');
    background-repeat: no-repeat;
    background-position: 90% 20%;
    background-size: 45%;
}

.contact-info {
    padding: 10% 5% 25% 5%;
    background-image: url('../images/gradient.png');
    background-repeat: no-repeat;
    background-position: -20% 0%;
    background-size: 60%;
}

.contact-info h3 {
    font-family: termina, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.contact-info p {
    line-height: 1.75rem;
}

.contact-info a {
    padding-right: 0.5rem;
    text-decoration: none;
}

.contact-heading h1, .contact-heading span {
    color:#DA1A5C;
}

.display-1 {
    font-size: 3.5rem;
}

.display-1 span {
    font-size: 4rem;
}

form {
    width: 100%;
}

.form-group label, form input, form-row, form-group {
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 1rem;
}

.form-control {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: white solid 1.25px;
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6E757C;
    font-size: 1.25rem;
    line-height: 2rem;
}

.textarea {
    background-color:rgba(203, 203, 203, 0.15);
}

form button {
    margin: 2rem 0 3.5rem 0;
}

/* ************************************************************************************************************************ */
/* **************************************************** TABLET VERSION **************************************************** */
/* ************************************************************************************************************************ */
@media screen and (min-width:760px) {
    h1, h2 {
        font-size: 3.5rem;
    }

    p, .btn, a {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    /* ************************************* BANNER SECTION ************************************* */
    .banner-line-one {
        width: 42%;
        float: left;
        text-align: right;
    }

    .banner-line-two {
        width: 58%;
        float: left;
        text-align: left;
        padding-left: 1rem;
    }

    .display-1 {
        font-size: 3.75rem;
    }
    
    .display-1 span {
        font-size: 4.5rem;
    }
    
    .banner-line-one span {
        font-size: 4.5rem;
    }
    
    .banner-line-one h1 {
        font-size: 3.75rem;
    }

    /* ************************************* SERVICES SECTION ************************************* */
    .services {
        padding-left: .25rem;
        padding-right: .25rem;
    }
    
    .card-title {
        font-size: 1.25rem;
    }

    .card-body p {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .card-img-top {
        padding: 1.75rem 1.75rem 1rem 1.75rem;
    }

    .card-body {
        padding: .25rem;
    }

    .services .card {
        width: 31%;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    /* ************************************* FEATURED WORKS SECTION ************************************* */
    .featured-works {
        padding-top: 20rem;
    }
    
    .featured-works-line-one {
        padding-right: 10rem;
    }

    .featured-works-line-two {
        padding-left: 20rem;
    }

    .featured-works .card {
        margin-bottom: 1rem;
        margin-top: 0rem;
    }
    
    .card-img {
        border-radius: 1.5rem;
    }

    .col-md-5 {
        width: 47.5%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .column-1 {
        float: left;
    }

    .featured-works .column-2 {
        margin-top: 4.5rem;
    }

    .card-img-overlay a {
        font-size: 1.25rem;
        margin: 0;
    }

    .featured-works .btn {
        margin-top: 1.5rem;
    }

    .btn {
        border-radius: 4rem;
    }

    /* ************************************* CALL TO ACTION SECTION ************************************* */
    .cta {
        padding-top: 5rem;
        padding-right: 35%;
        background-position: 90% 90%;
        background-size: 40%;
    }
    
    .gradient {
        background-position: 0% 25%;
        background-size: 50%;
    }

    /* ************************************************************************************** */
    /* ************************************* ABOUT PAGE ************************************* */
    /* ************************************************************************************** */
    /* .img-fluid {
        width: 100%;
    } */

    .about-text {
        margin-top: -2.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .about .display-1 {
        font-size: 7rem;
    }

    .about span {
        font-size: 7.5rem;
    }

    .about a {
        margin: 1rem 0 3rem 0;
    }

    /* ************************************************************************************** */
    /* ************************************* CONTACT PAGE ************************************* */
    /* ************************************************************************************** */
    .contact-heading {
        padding-top: 15%;
        padding-bottom: 25%;
        background-image: url('../images/bubble-760.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 95%;
    }
    
    .contact {
        background-image: url('../images/phone.png');
        background-repeat: no-repeat;
        background-position: 90% 20%;
        background-size: 45%;
    }
    
    .contact-info {
        padding: 10% 5% 25% 5%;
        background-image: url('../images/gradient.png');
        background-repeat: no-repeat;
        background-position: -20% 0%;
        background-size: 60%;
    }

    .display-1 {
        font-size: 4.5rem;
    }
    
    .display-1 span {
        font-size: 5rem;
    }

    .col-md-6 {
        float: left;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: 1rem;
    }
}

/* ************************************************************************************************************************* */
/* **************************************************** DESKTOP VERSION **************************************************** */
/* ************************************************************************************************************************* */
@media screen and (min-width:990px) {
    p, .btn, a {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .display-1 {
        font-size: 6rem;
    }
    
    .display-1 span {
        font-size: 6.5rem;
    }

    /* ************************************* NAVIGATION SECTION ************************************* */
    .navbar-nav {
        padding-bottom: 0;
    }

    .navbar-nav a {
        font-size: 1.5rem;
    }

    /* ************************************ BANNER SECTION ************************************* */
    .banner-line-one {
        width: 45%;
        float: left;
        text-align: right;
    }

    .banner-line-two {
        width: 55%;
    }
    
    .banner-line-one span {
        font-size: 5.5rem;
    }
    
    .banner-line-one h1 {
        font-size: 5rem;
    }

    .banner-line-two span {
        font-size: 5.5rem;
    }
    
    .banner-line-two h1 {
        font-size: 5rem;
    }

   /* ************************************* SERVICES SECTION ************************************* */
   .card-img-top {
    padding: 2rem 2rem 1.5rem 2rem;
    }
   
   .card-title {
    font-size: 3rem;
    }

    .card-body p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .services .card {
        padding-bottom: 2rem;
    }

    /* ************************************* FEATURED WORKS SECTION ************************************* */
    .featured-works-line-one {
        padding-right: 20rem;
    }

    .featured-works-line-two {
        padding-left: 30rem;
        padding-top: 1rem;
    }
    
    .featured-works .card {
        margin-bottom: 2.5rem;
        margin-top: 0rem;
        }
       
    .col-md-5 {
        width: 45%;
        margin-left: 2.75rem;
        margin-right: 2.75rem;
        }
    
    .featured-works .column-2 {
        margin-top: 7rem;
    }
    
    .featured-works .btn {
         margin-top: 1.5rem;
    }
    
    .btn {
        border-radius: 3rem;
        padding: 1.75rem 2.25rem 1.75rem 2.25rem;
    }
    /* ************************************* CALL TO ACTION SECTION ************************************* */
    .cta {
        padding-top: 30rem;
        padding-bottom: 30rem;
        padding-right: 25%;
        background-position: 75% 90%;
        background-size: 25%;
    }
    
    .gradient {
        background-position: 15% 60%;
        background-size: 35%;
    }

    .cta-line-one {
        padding-bottom: 1rem;
    }

    /* ************************************* FOOTER SECTION ************************************* */
    .footer {
        max-width: 97%;
        padding-top: 1.5rem;
    }
    
    footer p, footer a {
        font-size: 1.5rem;
    }

    .footer-links {
        padding: 1rem 
    }

    /* ************************************************************************************** */
    /* ************************************* ABOUT PAGE ************************************* */
    /* ************************************************************************************** */
    .about-text {
        margin-top: 10rem;
        padding-left: 45rem;
        padding-right: 5rem;
        width: 100%;
        position: absolute;
    }

    .about-img {
        width: 50rem;
        position: relative;
    }

    .about .display-1 {
        font-size: 4rem;
    }

    .about span {
        font-size: 4.5rem;
    }

    .about a {
        margin: 1rem 0 3rem 0;
    }

    .footer {
        width: 100%;
        display: block;
    }

    /* ************************************************************************************** */
    /* ************************************* CONTACT PAGE ************************************* */
    /* ************************************************************************************** */
    form {
        width: 65%;
        padding-left: 2rem;
    }
    
    .contact-heading {
        width: 65%;
        padding-top: 10%;
        padding-bottom: 17.5%;
        background-image: url('../images/bubble-990.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 95%;
    }
    
    .contact {
        background-image: url('../images/phone.png');
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-size: 30%;
    }
    
    .contact-info {
        width: 35%;
        padding: 0% 0% 0% 5%;
        float: right;
        background-image: url('../images/gradient.png');
        background-repeat: no-repeat;
        background-position: 15% 0%;
        background-size: 50%;
    }

    .display-1 {
        font-size: 5rem;
    }
    
    .display-1 span {
        font-size: 5.5rem;
    }
}